    /*
    Flaticon icon font: Flaticon
    Creation date: 04/04/2017 12:14
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-197-abacus:before { content: "\f100"; }
.flaticon-197-advertisement:before { content: "\f101"; }
.flaticon-197-air-conditioner:before { content: "\f102"; }
.flaticon-197-alarm:before { content: "\f103"; }
.flaticon-197-alarm-1:before { content: "\f104"; }
.flaticon-197-alarm-bell:before { content: "\f105"; }
.flaticon-197-alarm-clock:before { content: "\f106"; }
.flaticon-197-american-football:before { content: "\f107"; }
.flaticon-197-archive:before { content: "\f108"; }
.flaticon-197-archive-1:before { content: "\f109"; }
.flaticon-197-atomic:before { content: "\f10a"; }
.flaticon-197-backpack:before { content: "\f10b"; }
.flaticon-197-balance:before { content: "\f10c"; }
.flaticon-197-basketball:before { content: "\f10d"; }
.flaticon-197-basketball-1:before { content: "\f10e"; }
.flaticon-197-basketball-court:before { content: "\f10f"; }
.flaticon-197-bell:before { content: "\f110"; }
.flaticon-197-bible:before { content: "\f111"; }
.flaticon-197-book:before { content: "\f112"; }
.flaticon-197-book-1:before { content: "\f113"; }
.flaticon-197-book-2:before { content: "\f114"; }
.flaticon-197-book-3:before { content: "\f115"; }
.flaticon-197-books:before { content: "\f116"; }
.flaticon-197-bookshelf:before { content: "\f117"; }
.flaticon-197-brain:before { content: "\f118"; }
.flaticon-197-building:before { content: "\f119"; }
.flaticon-197-building-1:before { content: "\f11a"; }
.flaticon-197-burger:before { content: "\f11b"; }
.flaticon-197-cabinet:before { content: "\f11c"; }
.flaticon-197-cabinet-1:before { content: "\f11d"; }
.flaticon-197-calculator:before { content: "\f11e"; }
.flaticon-197-calculator-1:before { content: "\f11f"; }
.flaticon-197-calculator-2:before { content: "\f120"; }
.flaticon-197-calendar:before { content: "\f121"; }
.flaticon-197-calendar-1:before { content: "\f122"; }
.flaticon-197-calendar-2:before { content: "\f123"; }
.flaticon-197-chair:before { content: "\f124"; }
.flaticon-197-chat:before { content: "\f125"; }
.flaticon-197-check:before { content: "\f126"; }
.flaticon-197-church:before { content: "\f127"; }
.flaticon-197-church-1:before { content: "\f128"; }
.flaticon-197-clip:before { content: "\f129"; }
.flaticon-197-clipboard:before { content: "\f12a"; }
.flaticon-197-clipboard-1:before { content: "\f12b"; }
.flaticon-197-clipboard-2:before { content: "\f12c"; }
.flaticon-197-clipboard-3:before { content: "\f12d"; }
.flaticon-197-clock:before { content: "\f12e"; }
.flaticon-197-closet:before { content: "\f12f"; }
.flaticon-197-closet-1:before { content: "\f130"; }
.flaticon-197-coffee-cup:before { content: "\f131"; }
.flaticon-197-coffee-cup-1:before { content: "\f132"; }
.flaticon-197-coffee-cup-2:before { content: "\f133"; }
.flaticon-197-compass:before { content: "\f134"; }
.flaticon-197-computer:before { content: "\f135"; }
.flaticon-197-copy:before { content: "\f136"; }
.flaticon-197-credit-card:before { content: "\f137"; }
.flaticon-197-cubes:before { content: "\f138"; }
.flaticon-197-cutter:before { content: "\f139"; }
.flaticon-197-desk:before { content: "\f13a"; }
.flaticon-197-desk-1:before { content: "\f13b"; }
.flaticon-197-desk-2:before { content: "\f13c"; }
.flaticon-197-desk-chair:before { content: "\f13d"; }
.flaticon-197-desk-chair-1:before { content: "\f13e"; }
.flaticon-197-desk-chair-2:before { content: "\f13f"; }
.flaticon-197-desk-chair-3:before { content: "\f140"; }
.flaticon-197-desk-lamp:before { content: "\f141"; }
.flaticon-197-diploma:before { content: "\f142"; }
.flaticon-197-diploma-1:before { content: "\f143"; }
.flaticon-197-diploma-2:before { content: "\f144"; }
.flaticon-197-diploma-3:before { content: "\f145"; }
.flaticon-197-dna:before { content: "\f146"; }
.flaticon-197-earth-globe:before { content: "\f147"; }
.flaticon-197-email:before { content: "\f148"; }
.flaticon-197-email-1:before { content: "\f149"; }
.flaticon-197-eraser:before { content: "\f14a"; }
.flaticon-197-exam:before { content: "\f14b"; }
.flaticon-197-exam-1:before { content: "\f14c"; }
.flaticon-197-file:before { content: "\f14d"; }
.flaticon-197-file-1:before { content: "\f14e"; }
.flaticon-197-files:before { content: "\f14f"; }
.flaticon-197-flask:before { content: "\f150"; }
.flaticon-197-folder:before { content: "\f151"; }
.flaticon-197-gift:before { content: "\f152"; }
.flaticon-197-girl:before { content: "\f153"; }
.flaticon-197-glue:before { content: "\f154"; }
.flaticon-197-glue-1:before { content: "\f155"; }
.flaticon-197-glue-2:before { content: "\f156"; }
.flaticon-197-graduated:before { content: "\f157"; }
.flaticon-197-headphones:before { content: "\f158"; }
.flaticon-197-highlighter:before { content: "\f159"; }
.flaticon-197-hourglass:before { content: "\f15a"; }
.flaticon-197-house:before { content: "\f15b"; }
.flaticon-197-id-card:before { content: "\f15c"; }
.flaticon-197-id-card-1:before { content: "\f15d"; }
.flaticon-197-ink:before { content: "\f15e"; }
.flaticon-197-joystick:before { content: "\f15f"; }
.flaticon-197-keyboard:before { content: "\f160"; }
.flaticon-197-laptop:before { content: "\f161"; }
.flaticon-197-laptop-1:before { content: "\f162"; }
.flaticon-197-laptop-2:before { content: "\f163"; }
.flaticon-197-laptop-3:before { content: "\f164"; }
.flaticon-197-lecture:before { content: "\f165"; }
.flaticon-197-light-bulb:before { content: "\f166"; }
.flaticon-197-link:before { content: "\f167"; }
.flaticon-197-magnet:before { content: "\f168"; }
.flaticon-197-medal:before { content: "\f169"; }
.flaticon-197-medal-1:before { content: "\f16a"; }
.flaticon-197-medal-2:before { content: "\f16b"; }
.flaticon-197-medal-3:before { content: "\f16c"; }
.flaticon-197-megaphone:before { content: "\f16d"; }
.flaticon-197-microphone:before { content: "\f16e"; }
.flaticon-197-microscope:before { content: "\f16f"; }
.flaticon-197-monitor:before { content: "\f170"; }
.flaticon-197-mortarboard:before { content: "\f171"; }
.flaticon-197-mouse:before { content: "\f172"; }
.flaticon-197-museum:before { content: "\f173"; }
.flaticon-197-newspaper:before { content: "\f174"; }
.flaticon-197-notebook:before { content: "\f175"; }
.flaticon-197-notebook-1:before { content: "\f176"; }
.flaticon-197-notes:before { content: "\f177"; }
.flaticon-197-paint-brush:before { content: "\f178"; }
.flaticon-197-painting:before { content: "\f179"; }
.flaticon-197-paperclip:before { content: "\f17a"; }
.flaticon-197-pen:before { content: "\f17b"; }
.flaticon-197-pen-1:before { content: "\f17c"; }
.flaticon-197-pencil:before { content: "\f17d"; }
.flaticon-197-pencil-1:before { content: "\f17e"; }
.flaticon-197-pencil-case:before { content: "\f17f"; }
.flaticon-197-pencil-case-1:before { content: "\f180"; }
.flaticon-197-pendrive:before { content: "\f181"; }
.flaticon-197-photo-camera:before { content: "\f182"; }
.flaticon-197-pie-chart:before { content: "\f183"; }
.flaticon-197-planet:before { content: "\f184"; }
.flaticon-197-plant:before { content: "\f185"; }
.flaticon-197-podium:before { content: "\f186"; }
.flaticon-197-presentation:before { content: "\f187"; }
.flaticon-197-presentation-1:before { content: "\f188"; }
.flaticon-197-presentation-2:before { content: "\f189"; }
.flaticon-197-printer:before { content: "\f18a"; }
.flaticon-197-printer-1:before { content: "\f18b"; }
.flaticon-197-profits:before { content: "\f18c"; }
.flaticon-197-projector:before { content: "\f18d"; }
.flaticon-197-projector-1:before { content: "\f18e"; }
.flaticon-197-protractor:before { content: "\f18f"; }
.flaticon-197-puzzle:before { content: "\f190"; }
.flaticon-197-question:before { content: "\f191"; }
.flaticon-197-radio:before { content: "\f192"; }
.flaticon-197-rocket-launch:before { content: "\f193"; }
.flaticon-197-router:before { content: "\f194"; }
.flaticon-197-ruler:before { content: "\f195"; }
.flaticon-197-ruler-1:before { content: "\f196"; }
.flaticon-197-safebox:before { content: "\f197"; }
.flaticon-197-school-bus:before { content: "\f198"; }
.flaticon-197-school-material:before { content: "\f199"; }
.flaticon-197-scissors:before { content: "\f19a"; }
.flaticon-197-set-square:before { content: "\f19b"; }
.flaticon-197-settings:before { content: "\f19c"; }
.flaticon-197-settings-1:before { content: "\f19d"; }
.flaticon-197-sim-card:before { content: "\f19e"; }
.flaticon-197-smartphone:before { content: "\f19f"; }
.flaticon-197-smartphone-1:before { content: "\f1a0"; }
.flaticon-197-smoking:before { content: "\f1a1"; }
.flaticon-197-solar-system:before { content: "\f1a2"; }
.flaticon-197-speaker:before { content: "\f1a3"; }
.flaticon-197-speech:before { content: "\f1a4"; }
.flaticon-197-stapler:before { content: "\f1a5"; }
.flaticon-197-suitcase:before { content: "\f1a6"; }
.flaticon-197-tea-cup:before { content: "\f1a7"; }
.flaticon-197-telephone:before { content: "\f1a8"; }
.flaticon-197-telephone-1:before { content: "\f1a9"; }
.flaticon-197-telephone-call:before { content: "\f1aa"; }
.flaticon-197-telephone-call-1:before { content: "\f1ab"; }
.flaticon-197-telescope:before { content: "\f1ac"; }
.flaticon-197-temperature:before { content: "\f1ad"; }
.flaticon-197-tennis:before { content: "\f1ae"; }
.flaticon-197-test:before { content: "\f1af"; }
.flaticon-197-test-tube:before { content: "\f1b0"; }
.flaticon-197-tie:before { content: "\f1b1"; }
.flaticon-197-trash:before { content: "\f1b2"; }
.flaticon-197-trophy:before { content: "\f1b3"; }
.flaticon-197-trophy-1:before { content: "\f1b4"; }
.flaticon-197-trophy-2:before { content: "\f1b5"; }
.flaticon-197-usb:before { content: "\f1b6"; }
.flaticon-197-user:before { content: "\f1b7"; }
.flaticon-197-user-1:before { content: "\f1b8"; }
.flaticon-197-user-2:before { content: "\f1b9"; }
.flaticon-197-user-3:before { content: "\f1ba"; }
.flaticon-197-van:before { content: "\f1bb"; }
.flaticon-197-video-player:before { content: "\f1bc"; }
.flaticon-197-wallet:before { content: "\f1bd"; }
.flaticon-197-whiteboard:before { content: "\f1be"; }
.flaticon-197-wifi:before { content: "\f1bf"; }
.flaticon-197-wine-glass:before { content: "\f1c0"; }
.flaticon-197-woman:before { content: "\f1c1"; }
.flaticon-197-woman-1:before { content: "\f1c2"; }
.flaticon-197-wristwatch:before { content: "\f1c3"; }
    
    $font-Flaticon-197-abacus: "\f100";
    $font-Flaticon-197-advertisement: "\f101";
    $font-Flaticon-197-air-conditioner: "\f102";
    $font-Flaticon-197-alarm: "\f103";
    $font-Flaticon-197-alarm-1: "\f104";
    $font-Flaticon-197-alarm-bell: "\f105";
    $font-Flaticon-197-alarm-clock: "\f106";
    $font-Flaticon-197-american-football: "\f107";
    $font-Flaticon-197-archive: "\f108";
    $font-Flaticon-197-archive-1: "\f109";
    $font-Flaticon-197-atomic: "\f10a";
    $font-Flaticon-197-backpack: "\f10b";
    $font-Flaticon-197-balance: "\f10c";
    $font-Flaticon-197-basketball: "\f10d";
    $font-Flaticon-197-basketball-1: "\f10e";
    $font-Flaticon-197-basketball-court: "\f10f";
    $font-Flaticon-197-bell: "\f110";
    $font-Flaticon-197-bible: "\f111";
    $font-Flaticon-197-book: "\f112";
    $font-Flaticon-197-book-1: "\f113";
    $font-Flaticon-197-book-2: "\f114";
    $font-Flaticon-197-book-3: "\f115";
    $font-Flaticon-197-books: "\f116";
    $font-Flaticon-197-bookshelf: "\f117";
    $font-Flaticon-197-brain: "\f118";
    $font-Flaticon-197-building: "\f119";
    $font-Flaticon-197-building-1: "\f11a";
    $font-Flaticon-197-burger: "\f11b";
    $font-Flaticon-197-cabinet: "\f11c";
    $font-Flaticon-197-cabinet-1: "\f11d";
    $font-Flaticon-197-calculator: "\f11e";
    $font-Flaticon-197-calculator-1: "\f11f";
    $font-Flaticon-197-calculator-2: "\f120";
    $font-Flaticon-197-calendar: "\f121";
    $font-Flaticon-197-calendar-1: "\f122";
    $font-Flaticon-197-calendar-2: "\f123";
    $font-Flaticon-197-chair: "\f124";
    $font-Flaticon-197-chat: "\f125";
    $font-Flaticon-197-check: "\f126";
    $font-Flaticon-197-church: "\f127";
    $font-Flaticon-197-church-1: "\f128";
    $font-Flaticon-197-clip: "\f129";
    $font-Flaticon-197-clipboard: "\f12a";
    $font-Flaticon-197-clipboard-1: "\f12b";
    $font-Flaticon-197-clipboard-2: "\f12c";
    $font-Flaticon-197-clipboard-3: "\f12d";
    $font-Flaticon-197-clock: "\f12e";
    $font-Flaticon-197-closet: "\f12f";
    $font-Flaticon-197-closet-1: "\f130";
    $font-Flaticon-197-coffee-cup: "\f131";
    $font-Flaticon-197-coffee-cup-1: "\f132";
    $font-Flaticon-197-coffee-cup-2: "\f133";
    $font-Flaticon-197-compass: "\f134";
    $font-Flaticon-197-computer: "\f135";
    $font-Flaticon-197-copy: "\f136";
    $font-Flaticon-197-credit-card: "\f137";
    $font-Flaticon-197-cubes: "\f138";
    $font-Flaticon-197-cutter: "\f139";
    $font-Flaticon-197-desk: "\f13a";
    $font-Flaticon-197-desk-1: "\f13b";
    $font-Flaticon-197-desk-2: "\f13c";
    $font-Flaticon-197-desk-chair: "\f13d";
    $font-Flaticon-197-desk-chair-1: "\f13e";
    $font-Flaticon-197-desk-chair-2: "\f13f";
    $font-Flaticon-197-desk-chair-3: "\f140";
    $font-Flaticon-197-desk-lamp: "\f141";
    $font-Flaticon-197-diploma: "\f142";
    $font-Flaticon-197-diploma-1: "\f143";
    $font-Flaticon-197-diploma-2: "\f144";
    $font-Flaticon-197-diploma-3: "\f145";
    $font-Flaticon-197-dna: "\f146";
    $font-Flaticon-197-earth-globe: "\f147";
    $font-Flaticon-197-email: "\f148";
    $font-Flaticon-197-email-1: "\f149";
    $font-Flaticon-197-eraser: "\f14a";
    $font-Flaticon-197-exam: "\f14b";
    $font-Flaticon-197-exam-1: "\f14c";
    $font-Flaticon-197-file: "\f14d";
    $font-Flaticon-197-file-1: "\f14e";
    $font-Flaticon-197-files: "\f14f";
    $font-Flaticon-197-flask: "\f150";
    $font-Flaticon-197-folder: "\f151";
    $font-Flaticon-197-gift: "\f152";
    $font-Flaticon-197-girl: "\f153";
    $font-Flaticon-197-glue: "\f154";
    $font-Flaticon-197-glue-1: "\f155";
    $font-Flaticon-197-glue-2: "\f156";
    $font-Flaticon-197-graduated: "\f157";
    $font-Flaticon-197-headphones: "\f158";
    $font-Flaticon-197-highlighter: "\f159";
    $font-Flaticon-197-hourglass: "\f15a";
    $font-Flaticon-197-house: "\f15b";
    $font-Flaticon-197-id-card: "\f15c";
    $font-Flaticon-197-id-card-1: "\f15d";
    $font-Flaticon-197-ink: "\f15e";
    $font-Flaticon-197-joystick: "\f15f";
    $font-Flaticon-197-keyboard: "\f160";
    $font-Flaticon-197-laptop: "\f161";
    $font-Flaticon-197-laptop-1: "\f162";
    $font-Flaticon-197-laptop-2: "\f163";
    $font-Flaticon-197-laptop-3: "\f164";
    $font-Flaticon-197-lecture: "\f165";
    $font-Flaticon-197-light-bulb: "\f166";
    $font-Flaticon-197-link: "\f167";
    $font-Flaticon-197-magnet: "\f168";
    $font-Flaticon-197-medal: "\f169";
    $font-Flaticon-197-medal-1: "\f16a";
    $font-Flaticon-197-medal-2: "\f16b";
    $font-Flaticon-197-medal-3: "\f16c";
    $font-Flaticon-197-megaphone: "\f16d";
    $font-Flaticon-197-microphone: "\f16e";
    $font-Flaticon-197-microscope: "\f16f";
    $font-Flaticon-197-monitor: "\f170";
    $font-Flaticon-197-mortarboard: "\f171";
    $font-Flaticon-197-mouse: "\f172";
    $font-Flaticon-197-museum: "\f173";
    $font-Flaticon-197-newspaper: "\f174";
    $font-Flaticon-197-notebook: "\f175";
    $font-Flaticon-197-notebook-1: "\f176";
    $font-Flaticon-197-notes: "\f177";
    $font-Flaticon-197-paint-brush: "\f178";
    $font-Flaticon-197-painting: "\f179";
    $font-Flaticon-197-paperclip: "\f17a";
    $font-Flaticon-197-pen: "\f17b";
    $font-Flaticon-197-pen-1: "\f17c";
    $font-Flaticon-197-pencil: "\f17d";
    $font-Flaticon-197-pencil-1: "\f17e";
    $font-Flaticon-197-pencil-case: "\f17f";
    $font-Flaticon-197-pencil-case-1: "\f180";
    $font-Flaticon-197-pendrive: "\f181";
    $font-Flaticon-197-photo-camera: "\f182";
    $font-Flaticon-197-pie-chart: "\f183";
    $font-Flaticon-197-planet: "\f184";
    $font-Flaticon-197-plant: "\f185";
    $font-Flaticon-197-podium: "\f186";
    $font-Flaticon-197-presentation: "\f187";
    $font-Flaticon-197-presentation-1: "\f188";
    $font-Flaticon-197-presentation-2: "\f189";
    $font-Flaticon-197-printer: "\f18a";
    $font-Flaticon-197-printer-1: "\f18b";
    $font-Flaticon-197-profits: "\f18c";
    $font-Flaticon-197-projector: "\f18d";
    $font-Flaticon-197-projector-1: "\f18e";
    $font-Flaticon-197-protractor: "\f18f";
    $font-Flaticon-197-puzzle: "\f190";
    $font-Flaticon-197-question: "\f191";
    $font-Flaticon-197-radio: "\f192";
    $font-Flaticon-197-rocket-launch: "\f193";
    $font-Flaticon-197-router: "\f194";
    $font-Flaticon-197-ruler: "\f195";
    $font-Flaticon-197-ruler-1: "\f196";
    $font-Flaticon-197-safebox: "\f197";
    $font-Flaticon-197-school-bus: "\f198";
    $font-Flaticon-197-school-material: "\f199";
    $font-Flaticon-197-scissors: "\f19a";
    $font-Flaticon-197-set-square: "\f19b";
    $font-Flaticon-197-settings: "\f19c";
    $font-Flaticon-197-settings-1: "\f19d";
    $font-Flaticon-197-sim-card: "\f19e";
    $font-Flaticon-197-smartphone: "\f19f";
    $font-Flaticon-197-smartphone-1: "\f1a0";
    $font-Flaticon-197-smoking: "\f1a1";
    $font-Flaticon-197-solar-system: "\f1a2";
    $font-Flaticon-197-speaker: "\f1a3";
    $font-Flaticon-197-speech: "\f1a4";
    $font-Flaticon-197-stapler: "\f1a5";
    $font-Flaticon-197-suitcase: "\f1a6";
    $font-Flaticon-197-tea-cup: "\f1a7";
    $font-Flaticon-197-telephone: "\f1a8";
    $font-Flaticon-197-telephone-1: "\f1a9";
    $font-Flaticon-197-telephone-call: "\f1aa";
    $font-Flaticon-197-telephone-call-1: "\f1ab";
    $font-Flaticon-197-telescope: "\f1ac";
    $font-Flaticon-197-temperature: "\f1ad";
    $font-Flaticon-197-tennis: "\f1ae";
    $font-Flaticon-197-test: "\f1af";
    $font-Flaticon-197-test-tube: "\f1b0";
    $font-Flaticon-197-tie: "\f1b1";
    $font-Flaticon-197-trash: "\f1b2";
    $font-Flaticon-197-trophy: "\f1b3";
    $font-Flaticon-197-trophy-1: "\f1b4";
    $font-Flaticon-197-trophy-2: "\f1b5";
    $font-Flaticon-197-usb: "\f1b6";
    $font-Flaticon-197-user: "\f1b7";
    $font-Flaticon-197-user-1: "\f1b8";
    $font-Flaticon-197-user-2: "\f1b9";
    $font-Flaticon-197-user-3: "\f1ba";
    $font-Flaticon-197-van: "\f1bb";
    $font-Flaticon-197-video-player: "\f1bc";
    $font-Flaticon-197-wallet: "\f1bd";
    $font-Flaticon-197-whiteboard: "\f1be";
    $font-Flaticon-197-wifi: "\f1bf";
    $font-Flaticon-197-wine-glass: "\f1c0";
    $font-Flaticon-197-woman: "\f1c1";
    $font-Flaticon-197-woman-1: "\f1c2";
    $font-Flaticon-197-wristwatch: "\f1c3";