	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/04/2017 12:14
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-197-abacus:before { content: "\f100"; }
.flaticon-197-advertisement:before { content: "\f101"; }
.flaticon-197-air-conditioner:before { content: "\f102"; }
.flaticon-197-alarm:before { content: "\f103"; }
.flaticon-197-alarm-1:before { content: "\f104"; }
.flaticon-197-alarm-bell:before { content: "\f105"; }
.flaticon-197-alarm-clock:before { content: "\f106"; }
.flaticon-197-american-football:before { content: "\f107"; }
.flaticon-197-archive:before { content: "\f108"; }
.flaticon-197-archive-1:before { content: "\f109"; }
.flaticon-197-atomic:before { content: "\f10a"; }
.flaticon-197-backpack:before { content: "\f10b"; }
.flaticon-197-balance:before { content: "\f10c"; }
.flaticon-197-basketball:before { content: "\f10d"; }
.flaticon-197-basketball-1:before { content: "\f10e"; }
.flaticon-197-basketball-court:before { content: "\f10f"; }
.flaticon-197-bell:before { content: "\f110"; }
.flaticon-197-bible:before { content: "\f111"; }
.flaticon-197-book:before { content: "\f112"; }
.flaticon-197-book-1:before { content: "\f113"; }
.flaticon-197-book-2:before { content: "\f114"; }
.flaticon-197-book-3:before { content: "\f115"; }
.flaticon-197-books:before { content: "\f116"; }
.flaticon-197-bookshelf:before { content: "\f117"; }
.flaticon-197-brain:before { content: "\f118"; }
.flaticon-197-building:before { content: "\f119"; }
.flaticon-197-building-1:before { content: "\f11a"; }
.flaticon-197-burger:before { content: "\f11b"; }
.flaticon-197-cabinet:before { content: "\f11c"; }
.flaticon-197-cabinet-1:before { content: "\f11d"; }
.flaticon-197-calculator:before { content: "\f11e"; }
.flaticon-197-calculator-1:before { content: "\f11f"; }
.flaticon-197-calculator-2:before { content: "\f120"; }
.flaticon-197-calendar:before { content: "\f121"; }
.flaticon-197-calendar-1:before { content: "\f122"; }
.flaticon-197-calendar-2:before { content: "\f123"; }
.flaticon-197-chair:before { content: "\f124"; }
.flaticon-197-chat:before { content: "\f125"; }
.flaticon-197-check:before { content: "\f126"; }
.flaticon-197-church:before { content: "\f127"; }
.flaticon-197-church-1:before { content: "\f128"; }
.flaticon-197-clip:before { content: "\f129"; }
.flaticon-197-clipboard:before { content: "\f12a"; }
.flaticon-197-clipboard-1:before { content: "\f12b"; }
.flaticon-197-clipboard-2:before { content: "\f12c"; }
.flaticon-197-clipboard-3:before { content: "\f12d"; }
.flaticon-197-clock:before { content: "\f12e"; }
.flaticon-197-closet:before { content: "\f12f"; }
.flaticon-197-closet-1:before { content: "\f130"; }
.flaticon-197-coffee-cup:before { content: "\f131"; }
.flaticon-197-coffee-cup-1:before { content: "\f132"; }
.flaticon-197-coffee-cup-2:before { content: "\f133"; }
.flaticon-197-compass:before { content: "\f134"; }
.flaticon-197-computer:before { content: "\f135"; }
.flaticon-197-copy:before { content: "\f136"; }
.flaticon-197-credit-card:before { content: "\f137"; }
.flaticon-197-cubes:before { content: "\f138"; }
.flaticon-197-cutter:before { content: "\f139"; }
.flaticon-197-desk:before { content: "\f13a"; }
.flaticon-197-desk-1:before { content: "\f13b"; }
.flaticon-197-desk-2:before { content: "\f13c"; }
.flaticon-197-desk-chair:before { content: "\f13d"; }
.flaticon-197-desk-chair-1:before { content: "\f13e"; }
.flaticon-197-desk-chair-2:before { content: "\f13f"; }
.flaticon-197-desk-chair-3:before { content: "\f140"; }
.flaticon-197-desk-lamp:before { content: "\f141"; }
.flaticon-197-diploma:before { content: "\f142"; }
.flaticon-197-diploma-1:before { content: "\f143"; }
.flaticon-197-diploma-2:before { content: "\f144"; }
.flaticon-197-diploma-3:before { content: "\f145"; }
.flaticon-197-dna:before { content: "\f146"; }
.flaticon-197-earth-globe:before { content: "\f147"; }
.flaticon-197-email:before { content: "\f148"; }
.flaticon-197-email-1:before { content: "\f149"; }
.flaticon-197-eraser:before { content: "\f14a"; }
.flaticon-197-exam:before { content: "\f14b"; }
.flaticon-197-exam-1:before { content: "\f14c"; }
.flaticon-197-file:before { content: "\f14d"; }
.flaticon-197-file-1:before { content: "\f14e"; }
.flaticon-197-files:before { content: "\f14f"; }
.flaticon-197-flask:before { content: "\f150"; }
.flaticon-197-folder:before { content: "\f151"; }
.flaticon-197-gift:before { content: "\f152"; }
.flaticon-197-girl:before { content: "\f153"; }
.flaticon-197-glue:before { content: "\f154"; }
.flaticon-197-glue-1:before { content: "\f155"; }
.flaticon-197-glue-2:before { content: "\f156"; }
.flaticon-197-graduated:before { content: "\f157"; }
.flaticon-197-headphones:before { content: "\f158"; }
.flaticon-197-highlighter:before { content: "\f159"; }
.flaticon-197-hourglass:before { content: "\f15a"; }
.flaticon-197-house:before { content: "\f15b"; }
.flaticon-197-id-card:before { content: "\f15c"; }
.flaticon-197-id-card-1:before { content: "\f15d"; }
.flaticon-197-ink:before { content: "\f15e"; }
.flaticon-197-joystick:before { content: "\f15f"; }
.flaticon-197-keyboard:before { content: "\f160"; }
.flaticon-197-laptop:before { content: "\f161"; }
.flaticon-197-laptop-1:before { content: "\f162"; }
.flaticon-197-laptop-2:before { content: "\f163"; }
.flaticon-197-laptop-3:before { content: "\f164"; }
.flaticon-197-lecture:before { content: "\f165"; }
.flaticon-197-light-bulb:before { content: "\f166"; }
.flaticon-197-link:before { content: "\f167"; }
.flaticon-197-magnet:before { content: "\f168"; }
.flaticon-197-medal:before { content: "\f169"; }
.flaticon-197-medal-1:before { content: "\f16a"; }
.flaticon-197-medal-2:before { content: "\f16b"; }
.flaticon-197-medal-3:before { content: "\f16c"; }
.flaticon-197-megaphone:before { content: "\f16d"; }
.flaticon-197-microphone:before { content: "\f16e"; }
.flaticon-197-microscope:before { content: "\f16f"; }
.flaticon-197-monitor:before { content: "\f170"; }
.flaticon-197-mortarboard:before { content: "\f171"; }
.flaticon-197-mouse:before { content: "\f172"; }
.flaticon-197-museum:before { content: "\f173"; }
.flaticon-197-newspaper:before { content: "\f174"; }
.flaticon-197-notebook:before { content: "\f175"; }
.flaticon-197-notebook-1:before { content: "\f176"; }
.flaticon-197-notes:before { content: "\f177"; }
.flaticon-197-paint-brush:before { content: "\f178"; }
.flaticon-197-painting:before { content: "\f179"; }
.flaticon-197-paperclip:before { content: "\f17a"; }
.flaticon-197-pen:before { content: "\f17b"; }
.flaticon-197-pen-1:before { content: "\f17c"; }
.flaticon-197-pencil:before { content: "\f17d"; }
.flaticon-197-pencil-1:before { content: "\f17e"; }
.flaticon-197-pencil-case:before { content: "\f17f"; }
.flaticon-197-pencil-case-1:before { content: "\f180"; }
.flaticon-197-pendrive:before { content: "\f181"; }
.flaticon-197-photo-camera:before { content: "\f182"; }
.flaticon-197-pie-chart:before { content: "\f183"; }
.flaticon-197-planet:before { content: "\f184"; }
.flaticon-197-plant:before { content: "\f185"; }
.flaticon-197-podium:before { content: "\f186"; }
.flaticon-197-presentation:before { content: "\f187"; }
.flaticon-197-presentation-1:before { content: "\f188"; }
.flaticon-197-presentation-2:before { content: "\f189"; }
.flaticon-197-printer:before { content: "\f18a"; }
.flaticon-197-printer-1:before { content: "\f18b"; }
.flaticon-197-profits:before { content: "\f18c"; }
.flaticon-197-projector:before { content: "\f18d"; }
.flaticon-197-projector-1:before { content: "\f18e"; }
.flaticon-197-protractor:before { content: "\f18f"; }
.flaticon-197-puzzle:before { content: "\f190"; }
.flaticon-197-question:before { content: "\f191"; }
.flaticon-197-radio:before { content: "\f192"; }
.flaticon-197-rocket-launch:before { content: "\f193"; }
.flaticon-197-router:before { content: "\f194"; }
.flaticon-197-ruler:before { content: "\f195"; }
.flaticon-197-ruler-1:before { content: "\f196"; }
.flaticon-197-safebox:before { content: "\f197"; }
.flaticon-197-school-bus:before { content: "\f198"; }
.flaticon-197-school-material:before { content: "\f199"; }
.flaticon-197-scissors:before { content: "\f19a"; }
.flaticon-197-set-square:before { content: "\f19b"; }
.flaticon-197-settings:before { content: "\f19c"; }
.flaticon-197-settings-1:before { content: "\f19d"; }
.flaticon-197-sim-card:before { content: "\f19e"; }
.flaticon-197-smartphone:before { content: "\f19f"; }
.flaticon-197-smartphone-1:before { content: "\f1a0"; }
.flaticon-197-smoking:before { content: "\f1a1"; }
.flaticon-197-solar-system:before { content: "\f1a2"; }
.flaticon-197-speaker:before { content: "\f1a3"; }
.flaticon-197-speech:before { content: "\f1a4"; }
.flaticon-197-stapler:before { content: "\f1a5"; }
.flaticon-197-suitcase:before { content: "\f1a6"; }
.flaticon-197-tea-cup:before { content: "\f1a7"; }
.flaticon-197-telephone:before { content: "\f1a8"; }
.flaticon-197-telephone-1:before { content: "\f1a9"; }
.flaticon-197-telephone-call:before { content: "\f1aa"; }
.flaticon-197-telephone-call-1:before { content: "\f1ab"; }
.flaticon-197-telescope:before { content: "\f1ac"; }
.flaticon-197-temperature:before { content: "\f1ad"; }
.flaticon-197-tennis:before { content: "\f1ae"; }
.flaticon-197-test:before { content: "\f1af"; }
.flaticon-197-test-tube:before { content: "\f1b0"; }
.flaticon-197-tie:before { content: "\f1b1"; }
.flaticon-197-trash:before { content: "\f1b2"; }
.flaticon-197-trophy:before { content: "\f1b3"; }
.flaticon-197-trophy-1:before { content: "\f1b4"; }
.flaticon-197-trophy-2:before { content: "\f1b5"; }
.flaticon-197-usb:before { content: "\f1b6"; }
.flaticon-197-user:before { content: "\f1b7"; }
.flaticon-197-user-1:before { content: "\f1b8"; }
.flaticon-197-user-2:before { content: "\f1b9"; }
.flaticon-197-user-3:before { content: "\f1ba"; }
.flaticon-197-van:before { content: "\f1bb"; }
.flaticon-197-video-player:before { content: "\f1bc"; }
.flaticon-197-wallet:before { content: "\f1bd"; }
.flaticon-197-whiteboard:before { content: "\f1be"; }
.flaticon-197-wifi:before { content: "\f1bf"; }
.flaticon-197-wine-glass:before { content: "\f1c0"; }
.flaticon-197-woman:before { content: "\f1c1"; }
.flaticon-197-woman-1:before { content: "\f1c2"; }
.flaticon-197-wristwatch:before { content: "\f1c3"; }