    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:09
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-add:before { content: "\f100"; }
.flaticon-adding-to-the-cloud:before { content: "\f101"; }
.flaticon-alarm-black-filled-bell-symbol:before { content: "\f102"; }
.flaticon-analogic-video-camera:before { content: "\f103"; }
.flaticon-anchor:before { content: "\f104"; }
.flaticon-archive-filled-box:before { content: "\f105"; }
.flaticon-arroba-sign:before { content: "\f106"; }
.flaticon-arrow-angle-pointing-to-left:before { content: "\f107"; }
.flaticon-arrow-button-to-begin:before { content: "\f108"; }
.flaticon-arrow-pointing-to-right:before { content: "\f109"; }
.flaticon-arrow-pointing-to-upper-left-to-a-circle:before { content: "\f10a"; }
.flaticon-arrow-to-last-track:before { content: "\f10b"; }
.flaticon-ascending-line-graphic-symbol:before { content: "\f10c"; }
.flaticon-attachment-paperclip-symbol-of-straight-lines-with-rounded-angles:before { content: "\f10d"; }
.flaticon-audio-amplification-speaker-tool-silhouette:before { content: "\f10e"; }
.flaticon-audio-speaker-on:before { content: "\f10f"; }
.flaticon-back-arrow-to-first-track:before { content: "\f110"; }
.flaticon-bag-filled-tool:before { content: "\f111"; }
.flaticon-bars-of-descending-graphic:before { content: "\f112"; }
.flaticon-binary-code-with-zeros-and-one:before { content: "\f113"; }
.flaticon-black-hand-with-finger-pointing-down:before { content: "\f114"; }
.flaticon-black-text-page-to-swipe-horizontally:before { content: "\f115"; }
.flaticon-blackboard:before { content: "\f116"; }
.flaticon-blackboard-with-text-lines:before { content: "\f117"; }
.flaticon-book:before { content: "\f118"; }
.flaticon-book-opened-filled-reading-tool:before { content: "\f119"; }
.flaticon-bookmark-for-favorites:before { content: "\f11a"; }
.flaticon-bookmarked-filled-square:before { content: "\f11b"; }
.flaticon-broken-heart-divided-in-two-parts:before { content: "\f11c"; }
.flaticon-broken-web-link:before { content: "\f11d"; }
.flaticon-bug:before { content: "\f11e"; }
.flaticon-burn:before { content: "\f11f"; }
.flaticon-business-bars-graphic:before { content: "\f120"; }
.flaticon-calendar-to-organize-dates:before { content: "\f121"; }
.flaticon-car-fill-from-frontal-view:before { content: "\f122"; }
.flaticon-card-with-images-data:before { content: "\f123"; }
.flaticon-cascade-rectangular-rellena:before { content: "\f124"; }
.flaticon-cat-black-face:before { content: "\f125"; }
.flaticon-cat-face-outline:before { content: "\f126"; }
.flaticon-centered-text-of-alignment-button:before { content: "\f127"; }
.flaticon-chat-of-two-filled-rectangular-speech-bubbles-of-different-sizes:before { content: "\f128"; }
.flaticon-chat-of-two-rounded-rectangular-filled-speech-bubbles:before { content: "\f129"; }
.flaticon-checked-box:before { content: "\f12a"; }
.flaticon-checked-filled-list:before { content: "\f12b"; }
.flaticon-cinema-film-wheel-with-holes:before { content: "\f12c"; }
.flaticon-circular-arrows:before { content: "\f12d"; }
.flaticon-circular-filled-shape:before { content: "\f12e"; }
.flaticon-circular-graphic-of-percentages-partition-of-one-and-three-quarters-parts:before { content: "\f12f"; }
.flaticon-clapper:before { content: "\f130"; }
.flaticon-clipboard-with-left-arrow:before { content: "\f131"; }
.flaticon-clock-circular-gross-outline-of-time:before { content: "\f132"; }
.flaticon-clock-with-refresh-circular-arrow:before { content: "\f133"; }
.flaticon-cloud-black-shape:before { content: "\f134"; }
.flaticon-cloud-filled-shape-with-minus-sign:before { content: "\f135"; }
.flaticon-code-filled-file-with-two-arrows-to-right-and-left:before { content: "\f136"; }
.flaticon-code-programing-symbol:before { content: "\f137"; }
.flaticon-commercial-credit-card:before { content: "\f138"; }
.flaticon-commercial-filled-card:before { content: "\f139"; }
.flaticon-computer-square-button-symbol-with-circles-and-lines:before { content: "\f13a"; }
.flaticon-configuration-with-gear:before { content: "\f13b"; }
.flaticon-connection-of-circles-line-and-arrow:before { content: "\f13c"; }
.flaticon-console-of-three-switches:before { content: "\f13d"; }
.flaticon-contacts-book:before { content: "\f13e"; }
.flaticon-contrast-of-monitor:before { content: "\f13f"; }
.flaticon-contrast-square-button:before { content: "\f140"; }
.flaticon-copy-symbol-of-two-filled-paper-sheets:before { content: "\f141"; }
.flaticon-credit-card-back:before { content: "\f142"; }
.flaticon-credit-card-filled-back:before { content: "\f143"; }
.flaticon-cross-in-square:before { content: "\f144"; }
.flaticon-cross-like-opened-scissor:before { content: "\f145"; }
.flaticon-cross-sign:before { content: "\f146"; }
.flaticon-cube-box:before { content: "\f147"; }
.flaticon-curved-arrow-pointing-prohibition-symbol:before { content: "\f148"; }
.flaticon-database:before { content: "\f149"; }
.flaticon-database-digital-tool:before { content: "\f14a"; }
.flaticon-descending-straight-filled-arrow:before { content: "\f14b"; }
.flaticon-design-button-of-curved-and-straight-lines:before { content: "\f14c"; }
.flaticon-design-distribution-of-elements-of-an-article:before { content: "\f14d"; }
.flaticon-design-structure-button-with-text-and-image-alignment-option:before { content: "\f14e"; }
.flaticon-design-with-header-divided-in-three-areas-in-square-button:before { content: "\f14f"; }
.flaticon-diagonal-rounded-rectangles:before { content: "\f150"; }
.flaticon-diamond-shape-symbol-with-black-and-white-half-parts:before { content: "\f151"; }
.flaticon-dice-square-with-a-dot-or-button-with-a-circle-inside:before { content: "\f152"; }
.flaticon-directional-left-arrow-symbol:before { content: "\f153"; }
.flaticon-disabled-person-signal-of-black-square:before { content: "\f154"; }
.flaticon-disc-perspective:before { content: "\f155"; }
.flaticon-diskette:before { content: "\f156"; }
.flaticon-dollar-currency-symbol:before { content: "\f157"; }
.flaticon-double-arrow:before { content: "\f158"; }
.flaticon-double-arrow-cross-of-shuffle:before { content: "\f159"; }
.flaticon-double-arrows-symbol-pointing-up-and-down:before { content: "\f15a"; }
.flaticon-double-diagonal-arrow:before { content: "\f15b"; }
.flaticon-double-down-arrows:before { content: "\f15c"; }
.flaticon-double-right-arrows-angles:before { content: "\f15d"; }
.flaticon-double-up-and-down-arrow-symbol:before { content: "\f15e"; }
.flaticon-double-up-arrow:before { content: "\f15f"; }
.flaticon-down-arrow:before { content: "\f160"; }
.flaticon-down-arrow-1:before { content: "\f161"; }
.flaticon-down-arrow-button-on-horizontal-line:before { content: "\f162"; }
.flaticon-down-arrow-filled-circular-button:before { content: "\f163"; }
.flaticon-down-arrow-on-horizontal-line:before { content: "\f164"; }
.flaticon-down-filled-triangular-arrow:before { content: "\f165"; }
.flaticon-down-left-arrow-outline-of-triangular-shape:before { content: "\f166"; }
.flaticon-down-line-graphic:before { content: "\f167"; }
.flaticon-down-right-arrow-pointing-a-circle:before { content: "\f168"; }
.flaticon-down-with-gross-arrow:before { content: "\f169"; }
.flaticon-download-from-the-filled-cloud:before { content: "\f16a"; }
.flaticon-download-to-inbox:before { content: "\f16b"; }
.flaticon-dreaming-in-cloud:before { content: "\f16c"; }
.flaticon-e-book-with-right-arrow:before { content: "\f16d"; }
.flaticon-eject:before { content: "\f16e"; }
.flaticon-eject-1:before { content: "\f16f"; }
.flaticon-email-in-filled-back-opened-envelope-with-a-letter-inside:before { content: "\f170"; }
.flaticon-equal:before { content: "\f171"; }
.flaticon-exchanging-data:before { content: "\f172"; }
.flaticon-exclamation-sign-in-a-circle:before { content: "\f173"; }
.flaticon-exclamation-sign-in-circular-right-arrow:before { content: "\f174"; }
.flaticon-eye-opened-symbol-with-an-eyebrow:before { content: "\f175"; }
.flaticon-fast-backward-double-left-arrow-symbol:before { content: "\f176"; }
.flaticon-favourites-filled-star-symbol:before { content: "\f177"; }
.flaticon-file-filled-paper-sheet:before { content: "\f178"; }
.flaticon-file-filled-paper-symbol-with-right-arrow:before { content: "\f179"; }
.flaticon-file-of-acrobat-reader:before { content: "\f17a"; }
.flaticon-fill-design-with-color-of-a-paint-cube:before { content: "\f17b"; }
.flaticon-filter-filled-tool-symbol:before { content: "\f17c"; }
.flaticon-fire-extinguisher-filled-tool:before { content: "\f17d"; }
.flaticon-first-aid-handbag:before { content: "\f17e"; }
.flaticon-first-track-multimedia-button:before { content: "\f17f"; }
.flaticon-flag-black-shape-on-a-pole:before { content: "\f180"; }
.flaticon-flag-filled-tool-on-a-pole:before { content: "\f181"; }
.flaticon-flag-triangle-pointing-left:before { content: "\f182"; }
.flaticon-focus-with-a-circle-with-four-lines:before { content: "\f183"; }
.flaticon-folder-filled-computer-tool:before { content: "\f184"; }
.flaticon-folder-filled-tool-with-right-arrow:before { content: "\f185"; }
.flaticon-folder-filled-with-tabs:before { content: "\f186"; }
.flaticon-footprint:before { content: "\f187"; }
.flaticon-forefinger-of-filled-hand-pointing-up-like-an-arrow:before { content: "\f188"; }
.flaticon-forefinger-pointing-to-right-from-filled-hand-shape:before { content: "\f189"; }
.flaticon-forward-button-for-multimedia:before { content: "\f18a"; }
.flaticon-four-dots-horizontally-aligned-as-a-line:before { content: "\f18b"; }
.flaticon-four-graphics-symbol-of-interface:before { content: "\f18c"; }
.flaticon-four-lines:before { content: "\f18d"; }
.flaticon-four-squares-button:before { content: "\f18e"; }
.flaticon-games-control:before { content: "\f18f"; }
.flaticon-giftbox-filled:before { content: "\f190"; }
.flaticon-global-grid-globe-symbol:before { content: "\f191"; }
.flaticon-global-planetary-sphere-with-continent:before { content: "\f192"; }
.flaticon-graduate-hat:before { content: "\f193"; }
.flaticon-hand-filled-silhouette-with-flexed-fingers:before { content: "\f194"; }
.flaticon-hand-silhouette-of-a-man:before { content: "\f195"; }
.flaticon-hand-with-forefinger-pointing-to-left:before { content: "\f196"; }
.flaticon-happy-filled-face:before { content: "\f197"; }
.flaticon-headphones:before { content: "\f198"; }
.flaticon-home:before { content: "\f199"; }
.flaticon-home-black-building:before { content: "\f19a"; }
.flaticon-hr:before { content: "\f19b"; }
.flaticon-image-of-mountains:before { content: "\f19c"; }
.flaticon-image-with-frame:before { content: "\f19d"; }
.flaticon-images-or-windows-rectangular-filled-shapes:before { content: "\f19e"; }
.flaticon-infinite-or-bow:before { content: "\f19f"; }
.flaticon-information-in-circular-button:before { content: "\f1a0"; }
.flaticon-information-letter-sign-or-person-shape-from-side-view:before { content: "\f1a1"; }
.flaticon-interface-symbol-of-three-circles-with-lines-union:before { content: "\f1a2"; }
.flaticon-invisible-person-of-clothes:before { content: "\f1a3"; }
.flaticon-italic:before { content: "\f1a4"; }
.flaticon-jar-with-stripes:before { content: "\f1a5"; }
.flaticon-keyboard-buttons-or-visualization-button-of-nine-squares:before { content: "\f1a6"; }
.flaticon-keyboard-computer-hardware-accesory:before { content: "\f1a7"; }
.flaticon-last-track-multimedia-button-with-arrow:before { content: "\f1a8"; }
.flaticon-left-arrow:before { content: "\f1a9"; }
.flaticon-left-arrow-in-circular-button:before { content: "\f1aa"; }
.flaticon-left-curved-arrow:before { content: "\f1ab"; }
.flaticon-left-filled-arrow-triangle:before { content: "\f1ac"; }
.flaticon-left-quote:before { content: "\f1ad"; }
.flaticon-left-text-alignment-option:before { content: "\f1ae"; }
.flaticon-left-with-straight-arrow:before { content: "\f1af"; }
.flaticon-less-zoom-with-filled-magnifier:before { content: "\f1b0"; }
.flaticon-letter-option-button:before { content: "\f1b1"; }
.flaticon-letter-s-between-straight-parenthesis-symbol:before { content: "\f1b2"; }
.flaticon-libra-justice-balanced-scale-symbol:before { content: "\f1b3"; }
.flaticon-library-books-or-four-vertical-lines:before { content: "\f1b4"; }
.flaticon-library-of-three-filled-vertical-equal-bars:before { content: "\f1b5"; }
.flaticon-lifeline-irregular-zig-zag-shape-sign:before { content: "\f1b6"; }
.flaticon-lightbulb-filled-tool:before { content: "\f1b7"; }
.flaticon-lighter-point-filled-shape:before { content: "\f1b8"; }
.flaticon-lightning-bolt-filled-shape-of-weather:before { content: "\f1b9"; }
.flaticon-like-of-filled-heart:before { content: "\f1ba"; }
.flaticon-links-of-rectangular-straight-shape-in-horizontal-position:before { content: "\f1bb"; }
.flaticon-liquid-drop-falling-of-a-cup:before { content: "\f1bc"; }
.flaticon-list-of-three-items-with-squares-and-lines:before { content: "\f1bd"; }
.flaticon-locked-black-rectangular-padlock:before { content: "\f1be"; }
.flaticon-logout:before { content: "\f1bf"; }
.flaticon-magic-wand:before { content: "\f1c0"; }
.flaticon-magnet-rotated-tool-symbol:before { content: "\f1c1"; }
.flaticon-mail-closed-filled-back-envelope:before { content: "\f1c2"; }
.flaticon-male-hand-shape:before { content: "\f1c3"; }
.flaticon-man-and-target:before { content: "\f1c4"; }
.flaticon-man-close-up:before { content: "\f1c5"; }
.flaticon-man-male-hand-silhouette-with-thumb-down:before { content: "\f1c6"; }
.flaticon-map-black-triptych-folded-paper:before { content: "\f1c7"; }
.flaticon-map-filled-with-a-placeholder:before { content: "\f1c8"; }
.flaticon-mask-or-apron-fill-shape:before { content: "\f1c9"; }
.flaticon-menu-button-of-three-horizontal-lines:before { content: "\f1ca"; }
.flaticon-message-of-filled-rectangular-speech-bubble:before { content: "\f1cb"; }
.flaticon-message-of-rounded-rectangular-filled-speech-bubble:before { content: "\f1cc"; }
.flaticon-metro-transport-signal-down-here-with-an-arrow:before { content: "\f1cd"; }
.flaticon-microphone:before { content: "\f1ce"; }
.flaticon-microphone-filled-tool:before { content: "\f1cf"; }
.flaticon-microphone-for-voice:before { content: "\f1d0"; }
.flaticon-microscope:before { content: "\f1d1"; }
.flaticon-minus:before { content: "\f1d2"; }
.flaticon-minus-in-square-outlined-interface-button:before { content: "\f1d3"; }
.flaticon-mobile-phone:before { content: "\f1d4"; }
.flaticon-more-three-dots-button:before { content: "\f1d5"; }
.flaticon-more-with-three-dots-button:before { content: "\f1d6"; }
.flaticon-mouse-filled-shape:before { content: "\f1d7"; }
.flaticon-mouse-filled-tool:before { content: "\f1d8"; }
.flaticon-music-note:before { content: "\f1d9"; }
.flaticon-musical-filled-note:before { content: "\f1da"; }
.flaticon-mute-speaker:before { content: "\f1db"; }
.flaticon-new-email-filled-back-envelope:before { content: "\f1dc"; }
.flaticon-note-filled-square-with-a-pencil:before { content: "\f1dd"; }
.flaticon-notebook-filled-with-text-lines:before { content: "\f1de"; }
.flaticon-notebook-of-filled-pages-and-spring:before { content: "\f1df"; }
.flaticon-numbered-items-button:before { content: "\f1e0"; }
.flaticon-opposite-arrows-of-angles-pointing-to-sides:before { content: "\f1e1"; }
.flaticon-paint-roller-of-filled-silhouette:before { content: "\f1e2"; }
.flaticon-paint-roller-shape-of-the-tool:before { content: "\f1e3"; }
.flaticon-paintbrush-diagonal-artistic-tool-symbol:before { content: "\f1e4"; }
.flaticon-paperclip-filled-tool:before { content: "\f1e5"; }
.flaticon-paragraph-sign:before { content: "\f1e6"; }
.flaticon-password-key:before { content: "\f1e7"; }
.flaticon-password-symbol-of-key-silhouette-in-diagonal-position:before { content: "\f1e8"; }
.flaticon-pause:before { content: "\f1e9"; }
.flaticon-pause-two-lines:before { content: "\f1ea"; }
.flaticon-pen-filled-diagonal-writing-tool:before { content: "\f1eb"; }
.flaticon-pencil-and-filled-paper-sheet:before { content: "\f1ec"; }
.flaticon-pencil-and-ruler-in-vertical-position:before { content: "\f1ed"; }
.flaticon-pencil-and-ruler-in-vertical-position-1:before { content: "\f1ee"; }
.flaticon-pencil-diagonal-filled-writing-tool:before { content: "\f1ef"; }
.flaticon-person-silhouette:before { content: "\f1f0"; }
.flaticon-personal-card:before { content: "\f1f1"; }
.flaticon-photo-camera:before { content: "\f1f2"; }
.flaticon-photogram-filled-rectangular:before { content: "\f1f3"; }
.flaticon-picture-square:before { content: "\f1f4"; }
.flaticon-pin-diagonal-tool-of-black-shape:before { content: "\f1f5"; }
.flaticon-pin-filled-vertical-tool:before { content: "\f1f6"; }
.flaticon-placeholder-filled-tool-shape-for-maps:before { content: "\f1f7"; }
.flaticon-play-arrow:before { content: "\f1f8"; }
.flaticon-plug-connector:before { content: "\f1f9"; }
.flaticon-plus-magnification-zoom:before { content: "\f1fa"; }
.flaticon-plus-minus-signs-in-rectangular-interface-button:before { content: "\f1fb"; }
.flaticon-point-of-writing-tool:before { content: "\f1fc"; }
.flaticon-portfolio-filled-tool:before { content: "\f1fd"; }
.flaticon-portfolio-filled-tool-1:before { content: "\f1fe"; }
.flaticon-power-on:before { content: "\f1ff"; }
.flaticon-presentation-podium-with-a-microphone:before { content: "\f200"; }
.flaticon-printer-filled-tool-for-print-button:before { content: "\f201"; }
.flaticon-prize-badge-of-sports-or-education:before { content: "\f202"; }
.flaticon-prohibition-signal:before { content: "\f203"; }
.flaticon-puzzle-black-piece-shape:before { content: "\f204"; }
.flaticon-question-mark:before { content: "\f205"; }
.flaticon-question-sign-in-a-circle:before { content: "\f206"; }
.flaticon-rectangular-image-and-text-lines-aligned-to-left:before { content: "\f207"; }
.flaticon-rectangular-shape-of-a-rectangle-with-four-angles:before { content: "\f208"; }
.flaticon-rectangular-shape-with-two-lines:before { content: "\f209"; }
.flaticon-recycle-bin-filled-tool:before { content: "\f20a"; }
.flaticon-reply-email:before { content: "\f20b"; }
.flaticon-returning-curved-right-arrow:before { content: "\f20c"; }
.flaticon-rewind:before { content: "\f20d"; }
.flaticon-rewind-to-beginning-with-left-arrow:before { content: "\f20e"; }
.flaticon-right-and-left-arrows-square-button:before { content: "\f20f"; }
.flaticon-right-and-left-arrows-with-vertical-line-in-the-middle:before { content: "\f210"; }
.flaticon-right-and-left-arrows-with-vertical-line-separation:before { content: "\f211"; }
.flaticon-right-and-left-directional-arrows-signals-on-a-pole:before { content: "\f212"; }
.flaticon-right-arrow:before { content: "\f213"; }
.flaticon-right-arrow-angle:before { content: "\f214"; }
.flaticon-right-arrow-in-circular-button:before { content: "\f215"; }
.flaticon-right-arrow-in-square-button-outline:before { content: "\f216"; }
.flaticon-right-arrow-signal-on-a-pole:before { content: "\f217"; }
.flaticon-right-arrow-signal-on-a-pole-1:before { content: "\f218"; }
.flaticon-right-arrow-symbol-pointing-a-vertical-line:before { content: "\f219"; }
.flaticon-right-quote-sign:before { content: "\f21a"; }
.flaticon-right-text-alignment:before { content: "\f21b"; }
.flaticon-robot-rectangular-head-symbol:before { content: "\f21c"; }
.flaticon-rocket-space-ship-in-diagonal:before { content: "\f21d"; }
.flaticon-royal-crown:before { content: "\f21e"; }
.flaticon-rss-feed-in-square:before { content: "\f21f"; }
.flaticon-rss-feed-symbol:before { content: "\f220"; }
.flaticon-ruler-or-comb-diagonal-tool:before { content: "\f221"; }
.flaticon-sad-black-emoticon-face:before { content: "\f222"; }
.flaticon-sand-clock:before { content: "\f223"; }
.flaticon-search:before { content: "\f224"; }
.flaticon-send-email:before { content: "\f225"; }
.flaticon-settings-symbol-of-a-cross-of-tools:before { content: "\f226"; }
.flaticon-share:before { content: "\f227"; }
.flaticon-shield:before { content: "\f228"; }
.flaticon-shopping-cart-filled-commercial-symbol:before { content: "\f229"; }
.flaticon-shopping-cart-filled-tool:before { content: "\f22a"; }
.flaticon-slash-or-division-sign-in-square-outlined-key:before { content: "\f22b"; }
.flaticon-smiling-face-in-circular-speech-balloon:before { content: "\f22c"; }
.flaticon-speaker-filled-audio-tool:before { content: "\f22d"; }
.flaticon-speech-filled-rectangular-bubble-with-text-lines:before { content: "\f22e"; }
.flaticon-speed-control-of-semicircular-shape:before { content: "\f22f"; }
.flaticon-speedometer-circular-tool:before { content: "\f230"; }
.flaticon-sport:before { content: "\f231"; }
.flaticon-squirrel-filled-silhouette-from-side-view:before { content: "\f232"; }
.flaticon-star-badge:before { content: "\f233"; }
.flaticon-statistics-in-bars-graphic:before { content: "\f234"; }
.flaticon-stop-hand-gesture:before { content: "\f235"; }
.flaticon-stop-square-filled-button:before { content: "\f236"; }
.flaticon-straight-right-arrow:before { content: "\f237"; }
.flaticon-straight-up-arrow:before { content: "\f238"; }
.flaticon-sunny-day-or-sun-weather:before { content: "\f239"; }
.flaticon-switch-at-center:before { content: "\f23a"; }
.flaticon-tablet:before { content: "\f23b"; }
.flaticon-tag-commercial-tool:before { content: "\f23c"; }
.flaticon-tag-filled-commercial-tool:before { content: "\f23d"; }
.flaticon-team:before { content: "\f23e"; }
.flaticon-telescope:before { content: "\f23f"; }
.flaticon-text-black-file:before { content: "\f240"; }
.flaticon-text-option:before { content: "\f241"; }
.flaticon-text-options-letters:before { content: "\f242"; }
.flaticon-three-circles-outlines-connected-by-lines:before { content: "\f243"; }
.flaticon-three-dots-rounded-button:before { content: "\f244"; }
.flaticon-three-lines-of-levels-lights-squares:before { content: "\f245"; }
.flaticon-three-rectangles-outlines-in-perspective:before { content: "\f246"; }
.flaticon-ticket-half-symbol-with-a-star:before { content: "\f247"; }
.flaticon-tower-with-signal-emission:before { content: "\f248"; }
.flaticon-triangle-of-down-left-arrow-outline:before { content: "\f249"; }
.flaticon-triangular-black-right-arrow:before { content: "\f24a"; }
.flaticon-triangular-filled-up-arrow:before { content: "\f24b"; }
.flaticon-triple-horizontally-aligned-lines:before { content: "\f24c"; }
.flaticon-trophy-cup-black-shape:before { content: "\f24d"; }
.flaticon-truck-filled-side-view-shape-pointing-to-right:before { content: "\f24e"; }
.flaticon-turning-left-arrow:before { content: "\f24f"; }
.flaticon-turning-to-right:before { content: "\f250"; }
.flaticon-two-arrows-and-a-cross:before { content: "\f251"; }
.flaticon-two-arrows-fast-forward:before { content: "\f252"; }
.flaticon-two-books-sizes-outlined-symbol:before { content: "\f253"; }
.flaticon-two-filled-folders-of-different-sizes:before { content: "\f254"; }
.flaticon-two-filled-hard-disks-stack:before { content: "\f255"; }
.flaticon-two-filled-overlapped-rectangles:before { content: "\f256"; }
.flaticon-two-filled-rectangular-parts:before { content: "\f257"; }
.flaticon-two-straight-arrows-square-shape-of-exchange:before { content: "\f258"; }
.flaticon-unblocked-rectangular-filled-padlock:before { content: "\f259"; }
.flaticon-underlined-text:before { content: "\f25a"; }
.flaticon-up-and-down-arrows-with-a-line-in-the-middle:before { content: "\f25b"; }
.flaticon-up-and-down-opposite-double-arrows-side-by-side:before { content: "\f25c"; }
.flaticon-up-arrow:before { content: "\f25d"; }
.flaticon-up-arrow-1:before { content: "\f25e"; }
.flaticon-up-arrow-angle:before { content: "\f25f"; }
.flaticon-up-arrow-circular-button:before { content: "\f260"; }
.flaticon-up-arrow-with-a-line:before { content: "\f261"; }
.flaticon-up-right-arrow:before { content: "\f262"; }
.flaticon-upload:before { content: "\f263"; }
.flaticon-upload-a-book:before { content: "\f264"; }
.flaticon-upload-email:before { content: "\f265"; }
.flaticon-upload-with-up-arrow-into-a-cloud:before { content: "\f266"; }
.flaticon-uploading-book:before { content: "\f267"; }
.flaticon-upper-left-arrow:before { content: "\f268"; }
.flaticon-upper-right-arrow-black-symbol:before { content: "\f269"; }
.flaticon-upper-right-arrow-in-square-button-outline:before { content: "\f26a"; }
.flaticon-user-filled-shape:before { content: "\f26b"; }
.flaticon-verification-sign:before { content: "\f26c"; }
.flaticon-visible-eye:before { content: "\f26d"; }
.flaticon-voice:before { content: "\f26e"; }
.flaticon-wallet-filled-commercial-tool:before { content: "\f26f"; }
.flaticon-warning-exclamation-sign-in-a-circle-with-verification-mark:before { content: "\f270"; }
.flaticon-warning-exclamation-sign-in-filled-triangle:before { content: "\f271"; }
.flaticon-warning-signal-of-exclamation-sign-in-octagonal-outlined-shape:before { content: "\f272"; }
.flaticon-web-page-with-right-column:before { content: "\f273"; }
.flaticon-window:before { content: "\f274"; }
.flaticon-zipped-file-filled-with-a-zip:before { content: "\f275"; }
    
    $font-Flaticon-add: "\f100";
    $font-Flaticon-adding-to-the-cloud: "\f101";
    $font-Flaticon-alarm-black-filled-bell-symbol: "\f102";
    $font-Flaticon-analogic-video-camera: "\f103";
    $font-Flaticon-anchor: "\f104";
    $font-Flaticon-archive-filled-box: "\f105";
    $font-Flaticon-arroba-sign: "\f106";
    $font-Flaticon-arrow-angle-pointing-to-left: "\f107";
    $font-Flaticon-arrow-button-to-begin: "\f108";
    $font-Flaticon-arrow-pointing-to-right: "\f109";
    $font-Flaticon-arrow-pointing-to-upper-left-to-a-circle: "\f10a";
    $font-Flaticon-arrow-to-last-track: "\f10b";
    $font-Flaticon-ascending-line-graphic-symbol: "\f10c";
    $font-Flaticon-attachment-paperclip-symbol-of-straight-lines-with-rounded-angles: "\f10d";
    $font-Flaticon-audio-amplification-speaker-tool-silhouette: "\f10e";
    $font-Flaticon-audio-speaker-on: "\f10f";
    $font-Flaticon-back-arrow-to-first-track: "\f110";
    $font-Flaticon-bag-filled-tool: "\f111";
    $font-Flaticon-bars-of-descending-graphic: "\f112";
    $font-Flaticon-binary-code-with-zeros-and-one: "\f113";
    $font-Flaticon-black-hand-with-finger-pointing-down: "\f114";
    $font-Flaticon-black-text-page-to-swipe-horizontally: "\f115";
    $font-Flaticon-blackboard: "\f116";
    $font-Flaticon-blackboard-with-text-lines: "\f117";
    $font-Flaticon-book: "\f118";
    $font-Flaticon-book-opened-filled-reading-tool: "\f119";
    $font-Flaticon-bookmark-for-favorites: "\f11a";
    $font-Flaticon-bookmarked-filled-square: "\f11b";
    $font-Flaticon-broken-heart-divided-in-two-parts: "\f11c";
    $font-Flaticon-broken-web-link: "\f11d";
    $font-Flaticon-bug: "\f11e";
    $font-Flaticon-burn: "\f11f";
    $font-Flaticon-business-bars-graphic: "\f120";
    $font-Flaticon-calendar-to-organize-dates: "\f121";
    $font-Flaticon-car-fill-from-frontal-view: "\f122";
    $font-Flaticon-card-with-images-data: "\f123";
    $font-Flaticon-cascade-rectangular-rellena: "\f124";
    $font-Flaticon-cat-black-face: "\f125";
    $font-Flaticon-cat-face-outline: "\f126";
    $font-Flaticon-centered-text-of-alignment-button: "\f127";
    $font-Flaticon-chat-of-two-filled-rectangular-speech-bubbles-of-different-sizes: "\f128";
    $font-Flaticon-chat-of-two-rounded-rectangular-filled-speech-bubbles: "\f129";
    $font-Flaticon-checked-box: "\f12a";
    $font-Flaticon-checked-filled-list: "\f12b";
    $font-Flaticon-cinema-film-wheel-with-holes: "\f12c";
    $font-Flaticon-circular-arrows: "\f12d";
    $font-Flaticon-circular-filled-shape: "\f12e";
    $font-Flaticon-circular-graphic-of-percentages-partition-of-one-and-three-quarters-parts: "\f12f";
    $font-Flaticon-clapper: "\f130";
    $font-Flaticon-clipboard-with-left-arrow: "\f131";
    $font-Flaticon-clock-circular-gross-outline-of-time: "\f132";
    $font-Flaticon-clock-with-refresh-circular-arrow: "\f133";
    $font-Flaticon-cloud-black-shape: "\f134";
    $font-Flaticon-cloud-filled-shape-with-minus-sign: "\f135";
    $font-Flaticon-code-filled-file-with-two-arrows-to-right-and-left: "\f136";
    $font-Flaticon-code-programing-symbol: "\f137";
    $font-Flaticon-commercial-credit-card: "\f138";
    $font-Flaticon-commercial-filled-card: "\f139";
    $font-Flaticon-computer-square-button-symbol-with-circles-and-lines: "\f13a";
    $font-Flaticon-configuration-with-gear: "\f13b";
    $font-Flaticon-connection-of-circles-line-and-arrow: "\f13c";
    $font-Flaticon-console-of-three-switches: "\f13d";
    $font-Flaticon-contacts-book: "\f13e";
    $font-Flaticon-contrast-of-monitor: "\f13f";
    $font-Flaticon-contrast-square-button: "\f140";
    $font-Flaticon-copy-symbol-of-two-filled-paper-sheets: "\f141";
    $font-Flaticon-credit-card-back: "\f142";
    $font-Flaticon-credit-card-filled-back: "\f143";
    $font-Flaticon-cross-in-square: "\f144";
    $font-Flaticon-cross-like-opened-scissor: "\f145";
    $font-Flaticon-cross-sign: "\f146";
    $font-Flaticon-cube-box: "\f147";
    $font-Flaticon-curved-arrow-pointing-prohibition-symbol: "\f148";
    $font-Flaticon-database: "\f149";
    $font-Flaticon-database-digital-tool: "\f14a";
    $font-Flaticon-descending-straight-filled-arrow: "\f14b";
    $font-Flaticon-design-button-of-curved-and-straight-lines: "\f14c";
    $font-Flaticon-design-distribution-of-elements-of-an-article: "\f14d";
    $font-Flaticon-design-structure-button-with-text-and-image-alignment-option: "\f14e";
    $font-Flaticon-design-with-header-divided-in-three-areas-in-square-button: "\f14f";
    $font-Flaticon-diagonal-rounded-rectangles: "\f150";
    $font-Flaticon-diamond-shape-symbol-with-black-and-white-half-parts: "\f151";
    $font-Flaticon-dice-square-with-a-dot-or-button-with-a-circle-inside: "\f152";
    $font-Flaticon-directional-left-arrow-symbol: "\f153";
    $font-Flaticon-disabled-person-signal-of-black-square: "\f154";
    $font-Flaticon-disc-perspective: "\f155";
    $font-Flaticon-diskette: "\f156";
    $font-Flaticon-dollar-currency-symbol: "\f157";
    $font-Flaticon-double-arrow: "\f158";
    $font-Flaticon-double-arrow-cross-of-shuffle: "\f159";
    $font-Flaticon-double-arrows-symbol-pointing-up-and-down: "\f15a";
    $font-Flaticon-double-diagonal-arrow: "\f15b";
    $font-Flaticon-double-down-arrows: "\f15c";
    $font-Flaticon-double-right-arrows-angles: "\f15d";
    $font-Flaticon-double-up-and-down-arrow-symbol: "\f15e";
    $font-Flaticon-double-up-arrow: "\f15f";
    $font-Flaticon-down-arrow: "\f160";
    $font-Flaticon-down-arrow-1: "\f161";
    $font-Flaticon-down-arrow-button-on-horizontal-line: "\f162";
    $font-Flaticon-down-arrow-filled-circular-button: "\f163";
    $font-Flaticon-down-arrow-on-horizontal-line: "\f164";
    $font-Flaticon-down-filled-triangular-arrow: "\f165";
    $font-Flaticon-down-left-arrow-outline-of-triangular-shape: "\f166";
    $font-Flaticon-down-line-graphic: "\f167";
    $font-Flaticon-down-right-arrow-pointing-a-circle: "\f168";
    $font-Flaticon-down-with-gross-arrow: "\f169";
    $font-Flaticon-download-from-the-filled-cloud: "\f16a";
    $font-Flaticon-download-to-inbox: "\f16b";
    $font-Flaticon-dreaming-in-cloud: "\f16c";
    $font-Flaticon-e-book-with-right-arrow: "\f16d";
    $font-Flaticon-eject: "\f16e";
    $font-Flaticon-eject-1: "\f16f";
    $font-Flaticon-email-in-filled-back-opened-envelope-with-a-letter-inside: "\f170";
    $font-Flaticon-equal: "\f171";
    $font-Flaticon-exchanging-data: "\f172";
    $font-Flaticon-exclamation-sign-in-a-circle: "\f173";
    $font-Flaticon-exclamation-sign-in-circular-right-arrow: "\f174";
    $font-Flaticon-eye-opened-symbol-with-an-eyebrow: "\f175";
    $font-Flaticon-fast-backward-double-left-arrow-symbol: "\f176";
    $font-Flaticon-favourites-filled-star-symbol: "\f177";
    $font-Flaticon-file-filled-paper-sheet: "\f178";
    $font-Flaticon-file-filled-paper-symbol-with-right-arrow: "\f179";
    $font-Flaticon-file-of-acrobat-reader: "\f17a";
    $font-Flaticon-fill-design-with-color-of-a-paint-cube: "\f17b";
    $font-Flaticon-filter-filled-tool-symbol: "\f17c";
    $font-Flaticon-fire-extinguisher-filled-tool: "\f17d";
    $font-Flaticon-first-aid-handbag: "\f17e";
    $font-Flaticon-first-track-multimedia-button: "\f17f";
    $font-Flaticon-flag-black-shape-on-a-pole: "\f180";
    $font-Flaticon-flag-filled-tool-on-a-pole: "\f181";
    $font-Flaticon-flag-triangle-pointing-left: "\f182";
    $font-Flaticon-focus-with-a-circle-with-four-lines: "\f183";
    $font-Flaticon-folder-filled-computer-tool: "\f184";
    $font-Flaticon-folder-filled-tool-with-right-arrow: "\f185";
    $font-Flaticon-folder-filled-with-tabs: "\f186";
    $font-Flaticon-footprint: "\f187";
    $font-Flaticon-forefinger-of-filled-hand-pointing-up-like-an-arrow: "\f188";
    $font-Flaticon-forefinger-pointing-to-right-from-filled-hand-shape: "\f189";
    $font-Flaticon-forward-button-for-multimedia: "\f18a";
    $font-Flaticon-four-dots-horizontally-aligned-as-a-line: "\f18b";
    $font-Flaticon-four-graphics-symbol-of-interface: "\f18c";
    $font-Flaticon-four-lines: "\f18d";
    $font-Flaticon-four-squares-button: "\f18e";
    $font-Flaticon-games-control: "\f18f";
    $font-Flaticon-giftbox-filled: "\f190";
    $font-Flaticon-global-grid-globe-symbol: "\f191";
    $font-Flaticon-global-planetary-sphere-with-continent: "\f192";
    $font-Flaticon-graduate-hat: "\f193";
    $font-Flaticon-hand-filled-silhouette-with-flexed-fingers: "\f194";
    $font-Flaticon-hand-silhouette-of-a-man: "\f195";
    $font-Flaticon-hand-with-forefinger-pointing-to-left: "\f196";
    $font-Flaticon-happy-filled-face: "\f197";
    $font-Flaticon-headphones: "\f198";
    $font-Flaticon-home: "\f199";
    $font-Flaticon-home-black-building: "\f19a";
    $font-Flaticon-hr: "\f19b";
    $font-Flaticon-image-of-mountains: "\f19c";
    $font-Flaticon-image-with-frame: "\f19d";
    $font-Flaticon-images-or-windows-rectangular-filled-shapes: "\f19e";
    $font-Flaticon-infinite-or-bow: "\f19f";
    $font-Flaticon-information-in-circular-button: "\f1a0";
    $font-Flaticon-information-letter-sign-or-person-shape-from-side-view: "\f1a1";
    $font-Flaticon-interface-symbol-of-three-circles-with-lines-union: "\f1a2";
    $font-Flaticon-invisible-person-of-clothes: "\f1a3";
    $font-Flaticon-italic: "\f1a4";
    $font-Flaticon-jar-with-stripes: "\f1a5";
    $font-Flaticon-keyboard-buttons-or-visualization-button-of-nine-squares: "\f1a6";
    $font-Flaticon-keyboard-computer-hardware-accesory: "\f1a7";
    $font-Flaticon-last-track-multimedia-button-with-arrow: "\f1a8";
    $font-Flaticon-left-arrow: "\f1a9";
    $font-Flaticon-left-arrow-in-circular-button: "\f1aa";
    $font-Flaticon-left-curved-arrow: "\f1ab";
    $font-Flaticon-left-filled-arrow-triangle: "\f1ac";
    $font-Flaticon-left-quote: "\f1ad";
    $font-Flaticon-left-text-alignment-option: "\f1ae";
    $font-Flaticon-left-with-straight-arrow: "\f1af";
    $font-Flaticon-less-zoom-with-filled-magnifier: "\f1b0";
    $font-Flaticon-letter-option-button: "\f1b1";
    $font-Flaticon-letter-s-between-straight-parenthesis-symbol: "\f1b2";
    $font-Flaticon-libra-justice-balanced-scale-symbol: "\f1b3";
    $font-Flaticon-library-books-or-four-vertical-lines: "\f1b4";
    $font-Flaticon-library-of-three-filled-vertical-equal-bars: "\f1b5";
    $font-Flaticon-lifeline-irregular-zig-zag-shape-sign: "\f1b6";
    $font-Flaticon-lightbulb-filled-tool: "\f1b7";
    $font-Flaticon-lighter-point-filled-shape: "\f1b8";
    $font-Flaticon-lightning-bolt-filled-shape-of-weather: "\f1b9";
    $font-Flaticon-like-of-filled-heart: "\f1ba";
    $font-Flaticon-links-of-rectangular-straight-shape-in-horizontal-position: "\f1bb";
    $font-Flaticon-liquid-drop-falling-of-a-cup: "\f1bc";
    $font-Flaticon-list-of-three-items-with-squares-and-lines: "\f1bd";
    $font-Flaticon-locked-black-rectangular-padlock: "\f1be";
    $font-Flaticon-logout: "\f1bf";
    $font-Flaticon-magic-wand: "\f1c0";
    $font-Flaticon-magnet-rotated-tool-symbol: "\f1c1";
    $font-Flaticon-mail-closed-filled-back-envelope: "\f1c2";
    $font-Flaticon-male-hand-shape: "\f1c3";
    $font-Flaticon-man-and-target: "\f1c4";
    $font-Flaticon-man-close-up: "\f1c5";
    $font-Flaticon-man-male-hand-silhouette-with-thumb-down: "\f1c6";
    $font-Flaticon-map-black-triptych-folded-paper: "\f1c7";
    $font-Flaticon-map-filled-with-a-placeholder: "\f1c8";
    $font-Flaticon-mask-or-apron-fill-shape: "\f1c9";
    $font-Flaticon-menu-button-of-three-horizontal-lines: "\f1ca";
    $font-Flaticon-message-of-filled-rectangular-speech-bubble: "\f1cb";
    $font-Flaticon-message-of-rounded-rectangular-filled-speech-bubble: "\f1cc";
    $font-Flaticon-metro-transport-signal-down-here-with-an-arrow: "\f1cd";
    $font-Flaticon-microphone: "\f1ce";
    $font-Flaticon-microphone-filled-tool: "\f1cf";
    $font-Flaticon-microphone-for-voice: "\f1d0";
    $font-Flaticon-microscope: "\f1d1";
    $font-Flaticon-minus: "\f1d2";
    $font-Flaticon-minus-in-square-outlined-interface-button: "\f1d3";
    $font-Flaticon-mobile-phone: "\f1d4";
    $font-Flaticon-more-three-dots-button: "\f1d5";
    $font-Flaticon-more-with-three-dots-button: "\f1d6";
    $font-Flaticon-mouse-filled-shape: "\f1d7";
    $font-Flaticon-mouse-filled-tool: "\f1d8";
    $font-Flaticon-music-note: "\f1d9";
    $font-Flaticon-musical-filled-note: "\f1da";
    $font-Flaticon-mute-speaker: "\f1db";
    $font-Flaticon-new-email-filled-back-envelope: "\f1dc";
    $font-Flaticon-note-filled-square-with-a-pencil: "\f1dd";
    $font-Flaticon-notebook-filled-with-text-lines: "\f1de";
    $font-Flaticon-notebook-of-filled-pages-and-spring: "\f1df";
    $font-Flaticon-numbered-items-button: "\f1e0";
    $font-Flaticon-opposite-arrows-of-angles-pointing-to-sides: "\f1e1";
    $font-Flaticon-paint-roller-of-filled-silhouette: "\f1e2";
    $font-Flaticon-paint-roller-shape-of-the-tool: "\f1e3";
    $font-Flaticon-paintbrush-diagonal-artistic-tool-symbol: "\f1e4";
    $font-Flaticon-paperclip-filled-tool: "\f1e5";
    $font-Flaticon-paragraph-sign: "\f1e6";
    $font-Flaticon-password-key: "\f1e7";
    $font-Flaticon-password-symbol-of-key-silhouette-in-diagonal-position: "\f1e8";
    $font-Flaticon-pause: "\f1e9";
    $font-Flaticon-pause-two-lines: "\f1ea";
    $font-Flaticon-pen-filled-diagonal-writing-tool: "\f1eb";
    $font-Flaticon-pencil-and-filled-paper-sheet: "\f1ec";
    $font-Flaticon-pencil-and-ruler-in-vertical-position: "\f1ed";
    $font-Flaticon-pencil-and-ruler-in-vertical-position-1: "\f1ee";
    $font-Flaticon-pencil-diagonal-filled-writing-tool: "\f1ef";
    $font-Flaticon-person-silhouette: "\f1f0";
    $font-Flaticon-personal-card: "\f1f1";
    $font-Flaticon-photo-camera: "\f1f2";
    $font-Flaticon-photogram-filled-rectangular: "\f1f3";
    $font-Flaticon-picture-square: "\f1f4";
    $font-Flaticon-pin-diagonal-tool-of-black-shape: "\f1f5";
    $font-Flaticon-pin-filled-vertical-tool: "\f1f6";
    $font-Flaticon-placeholder-filled-tool-shape-for-maps: "\f1f7";
    $font-Flaticon-play-arrow: "\f1f8";
    $font-Flaticon-plug-connector: "\f1f9";
    $font-Flaticon-plus-magnification-zoom: "\f1fa";
    $font-Flaticon-plus-minus-signs-in-rectangular-interface-button: "\f1fb";
    $font-Flaticon-point-of-writing-tool: "\f1fc";
    $font-Flaticon-portfolio-filled-tool: "\f1fd";
    $font-Flaticon-portfolio-filled-tool-1: "\f1fe";
    $font-Flaticon-power-on: "\f1ff";
    $font-Flaticon-presentation-podium-with-a-microphone: "\f200";
    $font-Flaticon-printer-filled-tool-for-print-button: "\f201";
    $font-Flaticon-prize-badge-of-sports-or-education: "\f202";
    $font-Flaticon-prohibition-signal: "\f203";
    $font-Flaticon-puzzle-black-piece-shape: "\f204";
    $font-Flaticon-question-mark: "\f205";
    $font-Flaticon-question-sign-in-a-circle: "\f206";
    $font-Flaticon-rectangular-image-and-text-lines-aligned-to-left: "\f207";
    $font-Flaticon-rectangular-shape-of-a-rectangle-with-four-angles: "\f208";
    $font-Flaticon-rectangular-shape-with-two-lines: "\f209";
    $font-Flaticon-recycle-bin-filled-tool: "\f20a";
    $font-Flaticon-reply-email: "\f20b";
    $font-Flaticon-returning-curved-right-arrow: "\f20c";
    $font-Flaticon-rewind: "\f20d";
    $font-Flaticon-rewind-to-beginning-with-left-arrow: "\f20e";
    $font-Flaticon-right-and-left-arrows-square-button: "\f20f";
    $font-Flaticon-right-and-left-arrows-with-vertical-line-in-the-middle: "\f210";
    $font-Flaticon-right-and-left-arrows-with-vertical-line-separation: "\f211";
    $font-Flaticon-right-and-left-directional-arrows-signals-on-a-pole: "\f212";
    $font-Flaticon-right-arrow: "\f213";
    $font-Flaticon-right-arrow-angle: "\f214";
    $font-Flaticon-right-arrow-in-circular-button: "\f215";
    $font-Flaticon-right-arrow-in-square-button-outline: "\f216";
    $font-Flaticon-right-arrow-signal-on-a-pole: "\f217";
    $font-Flaticon-right-arrow-signal-on-a-pole-1: "\f218";
    $font-Flaticon-right-arrow-symbol-pointing-a-vertical-line: "\f219";
    $font-Flaticon-right-quote-sign: "\f21a";
    $font-Flaticon-right-text-alignment: "\f21b";
    $font-Flaticon-robot-rectangular-head-symbol: "\f21c";
    $font-Flaticon-rocket-space-ship-in-diagonal: "\f21d";
    $font-Flaticon-royal-crown: "\f21e";
    $font-Flaticon-rss-feed-in-square: "\f21f";
    $font-Flaticon-rss-feed-symbol: "\f220";
    $font-Flaticon-ruler-or-comb-diagonal-tool: "\f221";
    $font-Flaticon-sad-black-emoticon-face: "\f222";
    $font-Flaticon-sand-clock: "\f223";
    $font-Flaticon-search: "\f224";
    $font-Flaticon-send-email: "\f225";
    $font-Flaticon-settings-symbol-of-a-cross-of-tools: "\f226";
    $font-Flaticon-share: "\f227";
    $font-Flaticon-shield: "\f228";
    $font-Flaticon-shopping-cart-filled-commercial-symbol: "\f229";
    $font-Flaticon-shopping-cart-filled-tool: "\f22a";
    $font-Flaticon-slash-or-division-sign-in-square-outlined-key: "\f22b";
    $font-Flaticon-smiling-face-in-circular-speech-balloon: "\f22c";
    $font-Flaticon-speaker-filled-audio-tool: "\f22d";
    $font-Flaticon-speech-filled-rectangular-bubble-with-text-lines: "\f22e";
    $font-Flaticon-speed-control-of-semicircular-shape: "\f22f";
    $font-Flaticon-speedometer-circular-tool: "\f230";
    $font-Flaticon-sport: "\f231";
    $font-Flaticon-squirrel-filled-silhouette-from-side-view: "\f232";
    $font-Flaticon-star-badge: "\f233";
    $font-Flaticon-statistics-in-bars-graphic: "\f234";
    $font-Flaticon-stop-hand-gesture: "\f235";
    $font-Flaticon-stop-square-filled-button: "\f236";
    $font-Flaticon-straight-right-arrow: "\f237";
    $font-Flaticon-straight-up-arrow: "\f238";
    $font-Flaticon-sunny-day-or-sun-weather: "\f239";
    $font-Flaticon-switch-at-center: "\f23a";
    $font-Flaticon-tablet: "\f23b";
    $font-Flaticon-tag-commercial-tool: "\f23c";
    $font-Flaticon-tag-filled-commercial-tool: "\f23d";
    $font-Flaticon-team: "\f23e";
    $font-Flaticon-telescope: "\f23f";
    $font-Flaticon-text-black-file: "\f240";
    $font-Flaticon-text-option: "\f241";
    $font-Flaticon-text-options-letters: "\f242";
    $font-Flaticon-three-circles-outlines-connected-by-lines: "\f243";
    $font-Flaticon-three-dots-rounded-button: "\f244";
    $font-Flaticon-three-lines-of-levels-lights-squares: "\f245";
    $font-Flaticon-three-rectangles-outlines-in-perspective: "\f246";
    $font-Flaticon-ticket-half-symbol-with-a-star: "\f247";
    $font-Flaticon-tower-with-signal-emission: "\f248";
    $font-Flaticon-triangle-of-down-left-arrow-outline: "\f249";
    $font-Flaticon-triangular-black-right-arrow: "\f24a";
    $font-Flaticon-triangular-filled-up-arrow: "\f24b";
    $font-Flaticon-triple-horizontally-aligned-lines: "\f24c";
    $font-Flaticon-trophy-cup-black-shape: "\f24d";
    $font-Flaticon-truck-filled-side-view-shape-pointing-to-right: "\f24e";
    $font-Flaticon-turning-left-arrow: "\f24f";
    $font-Flaticon-turning-to-right: "\f250";
    $font-Flaticon-two-arrows-and-a-cross: "\f251";
    $font-Flaticon-two-arrows-fast-forward: "\f252";
    $font-Flaticon-two-books-sizes-outlined-symbol: "\f253";
    $font-Flaticon-two-filled-folders-of-different-sizes: "\f254";
    $font-Flaticon-two-filled-hard-disks-stack: "\f255";
    $font-Flaticon-two-filled-overlapped-rectangles: "\f256";
    $font-Flaticon-two-filled-rectangular-parts: "\f257";
    $font-Flaticon-two-straight-arrows-square-shape-of-exchange: "\f258";
    $font-Flaticon-unblocked-rectangular-filled-padlock: "\f259";
    $font-Flaticon-underlined-text: "\f25a";
    $font-Flaticon-up-and-down-arrows-with-a-line-in-the-middle: "\f25b";
    $font-Flaticon-up-and-down-opposite-double-arrows-side-by-side: "\f25c";
    $font-Flaticon-up-arrow: "\f25d";
    $font-Flaticon-up-arrow-1: "\f25e";
    $font-Flaticon-up-arrow-angle: "\f25f";
    $font-Flaticon-up-arrow-circular-button: "\f260";
    $font-Flaticon-up-arrow-with-a-line: "\f261";
    $font-Flaticon-up-right-arrow: "\f262";
    $font-Flaticon-upload: "\f263";
    $font-Flaticon-upload-a-book: "\f264";
    $font-Flaticon-upload-email: "\f265";
    $font-Flaticon-upload-with-up-arrow-into-a-cloud: "\f266";
    $font-Flaticon-uploading-book: "\f267";
    $font-Flaticon-upper-left-arrow: "\f268";
    $font-Flaticon-upper-right-arrow-black-symbol: "\f269";
    $font-Flaticon-upper-right-arrow-in-square-button-outline: "\f26a";
    $font-Flaticon-user-filled-shape: "\f26b";
    $font-Flaticon-verification-sign: "\f26c";
    $font-Flaticon-visible-eye: "\f26d";
    $font-Flaticon-voice: "\f26e";
    $font-Flaticon-wallet-filled-commercial-tool: "\f26f";
    $font-Flaticon-warning-exclamation-sign-in-a-circle-with-verification-mark: "\f270";
    $font-Flaticon-warning-exclamation-sign-in-filled-triangle: "\f271";
    $font-Flaticon-warning-signal-of-exclamation-sign-in-octagonal-outlined-shape: "\f272";
    $font-Flaticon-web-page-with-right-column: "\f273";
    $font-Flaticon-window: "\f274";
    $font-Flaticon-zipped-file-filled-with-a-zip: "\f275";