The project context is located in the .ai/ folder,

Use only english language for writing comments.

Remeber to use meaningfull variable, attributes, functions, metods and classes identifiers/names. If the name needs to be long, is is OK.